[Desktop Entry]
Exec=/home/user/.config/old-autostart-scripts/ssh-agent.sh
Icon=application-x-executable-script
Name=ssh-agent
Type=Application
X-KDE-AutostartScript=true
